/* Root */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* General Styles */

body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.card-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 300px;
  width: 300px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
}

.profile {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 105px;
  top: 30px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.occupation {
  color: black;
  font-weight: lighter;
}

.know-more {
  background-color: rgba(5, 5, 5, 0.1);
  position: absolute;
  border-radius: 5px;
  padding: 5px 10px;
  top: 240px;
  left: 105px;
  cursor: pointer;
}

.know-more a {
  text-decoration: none;
  color: black;
}

.know-more:hover {
  border: 1px solid black;
}

/* Member One */

.img1 {
  background-image: url(./images/img1.jpg);
}

.name1 {
  position: absolute;
  top: 155px;
  left: 50px;
}

.occupation1 {
  position: absolute;
  top: 185px;
  left: 89px;
}

/* Member Two */

.img2 {
  background-image: url(./images/img2.jpg);
}

.name2 {
  position: absolute;
  top: 155px;
  left: 110px;
}

.occupation2 {
  position: absolute;
  top: 185px;
  left: 100px;
}

/* Memeber Three */

.img3 {
  background-image: url(./images/img3.jpg);
}

.name3 {
  position: absolute;
  top: 155px;
  left: 75px;
}

.occupation3 {
  position: absolute;
  top: 185px;
  left: 82px;
}

/* Social Media */

.fab {
  color: black;
}

.social-media-wrapper {
  display: flex;
  flex-direction: column;
  height: 34%;
  position: absolute;
  left: 0;
  top: 10px;
}

.social {
  width: 60px;
  font-size: 20px;
  padding: 20px 0;
}

.twitter a {
  position: absolute;
  overflow: hidden;
  width: 0;
  transition: 0.5s ease;
  transition-delay: 0.3s;
  text-align: right;
  color: black;
}

.facebook a {
  position: absolute;
  overflow: hidden;
  width: 0;
  transition: 0.7s ease;
  transition-delay: 0.3s;
  text-align: right;
  color: black;
}

.linkedin a {
  position: absolute;
  overflow: hidden;
  width: 0;
  transition: 0.9s ease;
  transition-delay: 0.3s;
  text-align: right;
  color: black;
}
.card:hover .social a {
  width: 100%;
}

.social a:visited {
  color: black;
}

/* Media Queries */

@media screen and (max-width: 970px) {
  /* General Styles */
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card {
    height: 200px;
    width: 200px;
  }

  .know-more {
    top: 83%;
    left: 63px;
    font-size: 12px;
  }

  .profile {
    top: 10%;
    left: 58px;
    height: 90px;
    width: 90px;
  }

  .name {
    font-size: 14px;
  }

  .occupation {
    font-size: 12px;
  }

  /* Memeber One */

  .name1 {
    top: 60%;
    left: 27px;
  }

  .occupation1 {
    top: 70%;
    left: 48px;
  }

  /* Member Two */

  .name2 {
    top: 60%;
    left: 70px;
  }

  .occupation2 {
    top: 70%;
    left: 63px;
  }

  /* Memeber Three */

  .name3 {
    top: 60%;
    left: 50px;
  }

  .occupation3 {
    top: 70%;
    left: 50px;
  }

  /* Social Media */

  .social {
    padding: 15px 0;
    width: 40px;
  }
}
